.top-panel{
  background:url('../images/wood-plank2.jpg') repeat-x;
  width: 100%;
  height:50px;
  background-size: 50% 100%;
}
.bb{
	background: url('../images/bb.jpg') no-repeat;
	background-size: 100% 100%;
	width:1024px;
	height: 450px;
	margin-left:5%;
	margin-top: -50px;   /* Changed */
	border: 15px ridge rgb(209, 218, 216);
	border-style: ridge ridge groove groove;
	/*-webkit-border-image:url('../images/b2.png') 30 50 round; /* Safari 5 */
/*-o-border-image:url('../images/b2.png') 30 50 round; /* Opera */
/*border-image:url('../images/b2.png') 5 5 round;*/

}

.bb_top_margin{
	/*border: 1px solid red;*/
	
}
body{
   background:url('../images/bg.jpg') no-repeat center  fixed;
   -webkit-background-size: cover; 
}
.cc_title{
	color: white;
	font-weight: 300;
	margin-top: 3%;
	float: left;
	margin-left: 2%;
}

.cc_name{
	color: white;
	font-weight: 300;
	margin-top: 3%;
	float: left;
}

.cls_title{
	color: white;
	font-weight: 300;
	margin-top: 3%;
	float: left;
	margin-left: 20%;
	text-align: center;
}

.cls_name{
	color: white;
	font-weight: 300;
	margin-top: 3%;
	float: left;
	margin-left: 1%;
}

.stu_count{
	float: right;
	margin-right: 3%;
}

.ol_count{
	float: left;
}

.ol_count_title{
	color: white;
	font-weight: 300;
	margin-top: 15%;
	float: left;
}

.ol_count_num{
	color: white;
	font-weight: 300;
	float: left;
	margin-top: 15%;
}

.total_count{
	clear: both;
}

.total_count_title{
	color: white;
	font-weight: 300;
	margin-top: 5%;
	float: left;
}

.total_count_num{
	color: white;
	font-weight: 300;
	float: left;
	margin-top: 5%;
}

#bb_top_margin_end{
	clear: both;
	width:100%;
	background: white;
	height: 1px;
	margin-top:7%;
}

.bb_wall{

}

.status_update{

}

.update_text{
margin-left: 5%;
}
.facebook-share-box {
    width: 1024px;
   
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 0px;
    position: relative;
}
 
.facebook-share-box .share .arrow {
    background: url(arrow.png) no-repeat #dddddd;
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}
 
.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}
 
.facebook-share-box .post-types li a.active {
    color: #404040;
}
 
.facebook-share-box .post-types {
    padding-left: 5px;
}
 
.facebook-share-box ul {
    list-style: none;
}
 
.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}
 
.message {
    border-radius: 0;
    border: none;
}
#fb-panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    width: 1024px;

}

.panel-body{
	padding: 0px;
}

.panel-footer{
	padding: 0px;
	padding-top: 5px;
}

.privacy-dropdown {
    width: 100px;
}

.form-group{
	margin-bottom: 3px;
}

.ticker {
  position: absolute;
  margin-left: 260px;
  width: 794px;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  background-color:  #f5f5f5;
  text-align: left;
  font-size: 10px;
  margin-top: 20px;
   border-bottom: 1px solid #A7A7A7;
}

.tickerhdng {
  position: absolute;
  margin-left: 150px;
  width: 110px;
  height: 40px;
  overflow: hidden;
  line-height: 45px;
  /*margin-top: 20px;*/
  background-color:  #f5f5f5;
  text-align: left;
  padding-left: 10px;
  color: rgb(0, 2, 3);
  border-bottom: 1px solid #A7A7A7;
  font-size: 14px;
}

.tickerul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 14px;  
}

.ticker1 {
    list-style: none;
    height:100px;
    padding:1px;
}